*/target/*
*.class
*.log
*.cache
*.zip
!*Homework.zip
!*homework.zip
*.tgz
*.tmp
*.jar
sbt__*.xml
*.parquet
*.crc
*.txt
*.temp
.idea/*
*/.idea/*
*.iml
copy-resources
data
out
export
output
